In [2]:
import pandas as pd

Getting the data

In [4]:
data=pd.read_csv("interactive_data.csv")
data.head(5)

,Unnamed: 0,Intent,Gender,Age,Race,Deaths,Population,Rate
0,1,None selected,None selected,None selected,None selected,33599,316299978,10.6
1,2,None selected,None selected,None selected,White,22079,197369634,11.2
2,3,None selected,None selected,None selected,Black,7765,38896382,20.0
3,4,None selected,None selected,None selected,Hispanic,3007,54049078,5.6
4,5,None selected,None selected,None selected,Asian/Pacific Islander,442,16315561,2.7

Filtering all the rows with at least one None selected

In [5]:
data_filtered=data.loc[~(data=='None selected').any(axis=1)]
data_filtered.head(5)

,Unnamed: 0,Intent,Gender,Age,Race,Deaths,Population,Rate
151,152,Suicide,Female,Under 15,White,19,15355910,0.1
152,153,Suicide,Female,Under 15,Black,1,4095428,0.0
153,154,Suicide,Female,Under 15,Hispanic,4,7330024,0.1
154,155,Suicide,Female,Under 15,Asian/Pacific Islander,1,1393440,0.1
155,156,Suicide,Female,Under 15,Other,0,1661877,0.0

Number of all deaths

In [6]:
all_deaths=data_filtered['Deaths'].sum()
all_deaths

np.int64(33595)

Number of suicides

In [7]:
suicides_number=data_filtered[data_filtered['Intent']=='Suicide']['Deaths'].sum() #come righe prendo solo quelle True ottenute paragonando tutta la colonna Intent con la stringa Suicied e come colonne prendo solo quella di Deaths
suicides_number

np.int64(21058)

In [8]:
ratio_suicides=suicides_number/all_deaths
print(f"Suicides ratio is {ratio_suicides*100} %")

Suicides ratio is 62.68194671826165 %

It is true that almost **two third** of the death are *suicides*

Number of male suicides

In [9]:
number_male_suicides=data_filtered[(data_filtered['Intent']=='Suicide') & (data_filtered['Gender']=='Male')]['Deaths'].sum()
print(number_male_suicides)

18161

In [10]:
print(f"Male suicides ratio is {100*number_male_suicides/suicides_number}%")

Male suicides ratio is 86.24275809668535%

True that more than **85%** of suicide victims are *male*.

In [11]:
data_filtered['Intent'].unique()

array(['Suicide', 'Homicide', 'Accident', 'Unknown'], dtype=object)

If they where just Suicide and Homicide was trivial

In [12]:
homicides_number=data_filtered[data_filtered['Intent']=='Homicide']['Deaths'].sum()

In [13]:
print(f"Homicide ratio is {100*homicides_number/all_deaths}%")

Homicide ratio is 34.906980205387704%

In [14]:
data_filtered['Age'].unique()

array(['Under 15', '15 - 34', '35 - 64', '65+', '5'], dtype=object)

In [15]:
Age_15_34_male_homicides_number=data_filtered[(data_filtered['Intent']=='Homicide')&(data_filtered['Gender']=='Male')&(data_filtered['Age']=='15 - 34')]['Deaths'].sum()
black_15_34_male_homicides_number=data_filtered[(data_filtered['Intent']=='Homicide')&(data_filtered['Gender']=='Male')&(data_filtered['Age']=='15 - 34')&(data_filtered['Race']=='Black')]['Deaths'].sum()

In [16]:
print(f"Black, between 15 and 34, male homicide ratio is {100*black_15_34_male_homicides_number/Age_15_34_male_homicides_number}%")

Black, between 15 and 34, male homicide ratio is 66.12482748044778%

It is true that around **two-thirds** of homicide victims who are *males* in the *age-group of 15--34* are *black*.

In [17]:
female_homicides_number=data_filtered[(data_filtered['Intent']=='Homicide')&(data_filtered['Gender']=='Female')]['Deaths'].sum()
homicides_number=data_filtered[data_filtered['Intent']=='Homicide']['Deaths'].sum()

In [18]:
print(f"Female homicide ratio is {100*female_homicides_number/homicides_number}%")

Female homicide ratio is 15.28950285665558%

It is true that *Women* constitue only **15%** of the total *homicide* victims